{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Rift Valley Academy Gaming">
        <meta name="author" content="Peter Henry">

        <title>Rift Valley Academy Gaming</title>

        <!-- Bootstrap core styling -->
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">

        <!-- Block-level styling -->
        {% block extracss %}
            <!-- (if you see this, there is no block-level styling) -->
        {% endblock extracss %}
    </head>

    <body>
        <div class="container-fluid">
        </div>
        <!-- /.container-fluid -->


        <!-- JQuery core JavaScript -->
        <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>

        <!-- Bootstrap core JavaScript -->
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        
        <!-- Block-level JavaScript -->
        {% block extrajs %}
            <!-- (if you see this, there is no block-level JavaScript) -->
        {% endblock extrajs %}
    </body>
</html>